 body {
 	text-align: center;
    font-family: 'Raleway', sans-serif;
 }

 .content {
   width: 900px;
   margin: auto; 
   font-weight: 100;
   letter-spacing: 2px;
   padding: 10px 30px 10px 30px;
   position: 
 }

 section {
 	margin: 6px 10px 5px 12px;

 }

ul {
  margin: 0;

}





footer {
  margin: 0 auto;
 
}